<h1><%= @customer.name %>'s Items</h1>

<h3>Supermarket: <%= @customer.supermarket.name %></h3>

<ul>
    <% @customer.items.each do |item| %>
        <li id="item-<%= item.id %>">
        <%= item.name %>
        </li>
    <% end %>
</ul>

<div id="total-price">
<h3>Total Price of All Items</h3>
<p>
    Total Price: $<%= @customer.total_price %>
</p>
</div>
